.container {
    height: 420px;
    overflow: hidden;
    border: 2px solid #fff;
}

.container ul {
    transition: 0.6s;
}

.container li {
    height: 30px;
    line-height: 30px;
    transition: 0.6s;
}

.container li.active {
    color: #fff;
    transform: scale(1.2);
}